{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <h1>create Product</h1><br>

        {{ form_start(form) }}
        <div class="mb-3">
            {{ form_widget(form.name) }}
        </div>
        <div class="mb-3">
            {{ form_widget(form.price) }}
        </div>
        <div class="mb-3">
            {{ form_widget(form.discreption) }}
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>

    </div>

{% endblock %}